.Hero {
  background-image: url("../../assets/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.image {
  width: 25em;
  height: 28em;
  position: relative;
  right: 20px;
  border-radius: 8px;
  /* background: url("../../assets/business.jpg"); */
  background: linear-gradient(
      0deg,
      rgba(76, 136, 255, 0.637),
      rgba(76, 136, 255, 0.35)
    ),
    url("../../assets/business.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: image;
  animation-duration: 2.6s;
}
/* @keyframes image {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */
#BoldText {
  font-size: 48px;
  font-family: "Sofia Pro", sans-serif;
  font-weight: bold;
  animation-name: boldtext;
  animation-duration: 2.2s;
}
/* @keyframes boldtext {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */
.paragraph {
  font-family: "Sofia Pro", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 2em;
  width: 600px;
  animation-name: paragraph;
  animation-duration: 2.4s;
}
/* @keyframes paragraph {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */
#bookCall {
  background: #4c88ff;
  border-radius: 6px;
  padding: 8px 10px 7px;
  width: 228px;
  height: 58px;
  font-family: "Sofia Pro", sans-serif;
  font-weight: 400;
}
#bookCall:hover {
  background: #fff;
  color: #4c88ff;
  border: 1px solid #4c88ff;
}
#CaseStudy {
  border: 1px solid #4c88ff;
  background: rgba(76, 136, 255, 0.04);
  color: #4c88ff;
  border-radius: 6px;
  padding: 8px 10px 7px;
  width: 168px;
  margin-left: 7px;
  height: 58px;
  font-family: "Sofia Pro", sans-serif;
  font-weight: 400;
}
#CaseStudy:hover {
  background: #4c88ff;
  color: #fff;
  border: 2px solid #fff;
}
.social_media {
  font-family: "Sofia Pro", sans-serif;
  font-weight: 600;
  color: rgba(77, 87, 107, 0.85);
  font-variant: small-caps;
  font-size: 22px;
  align-items: center;
}
.fab {
  margin-left: 2em;
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width: 1023px) {
  .Hero {
    height: 100%;
  }
  .image {
    display: none;
  }
  .section {
    height: 62em;
  }
}
@media screen and (min-width: 1024px) {
  .section {
    height: 48em;
  }
}
@media screen and (max-width: 767px) {
  body {
    overflow: scroll;
  }
  .image {
    display: none;
  }
  .paragraph {
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 25em;
  }
  #BoldText {
    font-size: 34px;
  }
  .buttons_grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .presentation {
    display: block;
  }
  #CaseStudy {
    margin-top: 14px;
  }
  .ButtonParent {
    display: flex;
    width: 100%;
    justify-content: flex-start;
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .Download {
    display: none;
  }
}
