@import url("http://fonts.cdnfonts.com/css/sofia-pro");
.Download {
  display: flex;
  width: 226px;
  height: 45px;
  background: rgba(76, 136, 255, 0.04);
  border: 0.5px solid #4c88ff;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: #4c88ff;
  border-radius: 4px;
  font-family: "Sofia Pro", sans-serif;
  font-weight: 400;
}
.Download:hover {
  background: #4c88ff;
  color: #fff;
  border: 2px solid #fff;
}
.Prices {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99px;
  height: 45px;
  color: #fff;
  border-radius: 4px;
  background: #4c88ff;
  font-family: "Sofia Pro", sans-serif;
  font-weight: 300;
}
.Prices:hover {
  background: #fff;
  color: #4c88ff;
  border: 2px solid #4c88ff;
}
@media screen and (max-width: 1022px) {
  .image {
    display: none;
  }
}
